<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/index.css">

</head>
<body class="hold">
<div class="head">快递代拿</div>
<div class="mid">
    <div class="container nav">
        <div class="col-xs-5" id="index">
            <div class="pull-right">广海社区</div>
        </div>
        <div class="col-xs-2">
            |
        </div>
        <div class="col-xs-5">
            <div class="pull-left select">快递代拿</div>
        </div>
    </div>
    <div>
        <div class="container line">
            <div class="col-xs-6">
                <div class="buttom pull-left" id="help">帮我拿</div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right ApplyButtom">代拿申请</div>
            </div>
        </div>
        <div>
            <ul class="orders">
                <li class="order">
                    <div class="container row">
                        <div class="col-xs-9 information">
                            <div>围开哥哥</div>
                            <div class="container">
                                <div class="col-xs-2">小件</div>
                                <div class="col-xs-4">申通快递</div>
                            </div>
                            <div>2020-02-21</div>
                        </div>
                        <div class="col-xs-3 price">
                            <div>￥2</div>
                        </div>
                    </div>
                </li>
                <li class="order">
                    <div class="container row">
                        <div class="col-xs-9 information">
                            <div>围开哥哥</div>
                            <div class="container">
                                <div class="col-xs-2">小件</div>
                                <div class="col-xs-4">申通快递</div>
                            </div>
                            <div>2020-02-21</div>
                        </div>
                        <div class="col-xs-3 price">
                            <div>￥2</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<img src="/public/img/logo1.png" class="logo">

<div class="foot">
    <div id="send">
        <span class="glyphicon glyphicon-list"></span>
    </div>
    <div id="me">
        <span class="glyphicon glyphicon-user"></span>
    </div>
</div>
<script src="../public/js/jquery-3.3.1.js"></script>
<script src="../public/js/jquery.cookie.js"></script>
<script src="../public/js/delivery.js"></script>
</body>
</html>