<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮我拿</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="../public/css/help.css">



</head>
<body class="hold">
<div class="head">帮我拿快递</div>


<form class="form">
    <div class="row  ROW">
        <div class="col-xs-4">
            快递公司：
        </div>
        <div class="col-xs-8">
            <input   id="name">
        </div>
    </div>
    <div class="row  ROW">
        <div class="col-xs-4">
            取件码：
        </div>
        <div class="col-xs-8">
            <div class="col-xs-8">
                <input   id="number">
            </div>
        </div>
    </div>
    <div class="row  ROW">
        <div class="col-xs-4">
            预留姓名：
        </div>
        <div class="col-xs-8">
            <input id="phone">
        </div>
    </div>
    <div class="row  ROW">
        <div class="col-xs-4">
            预留手机：
        </div>
        <div class="col-xs-8">
            <input  id="password">
        </div>
    </div>
    <div class="row  ROW">
        <div class="col-xs-3">
            取到：
        </div>
        <div class="col-xs-9">
            <input id="toLocation">
        </div>
    </div>
    <div class="row  ROW">
        <div class="col-xs-3">
            大小：
        </div>
        <div class="col-xs-9">
            <input id="size">
        </div>
    </div>
    <div class="row  ROW expect">
        <div class="col-xs-5">
            预计：
        </div>
        <div class="col-xs-7">
            <div class="col-xs-4" id="expect">2</div>
            <div>元</div>
        </div>
    </div>
    <div>
        <div class="buttom" id="change">发出订单</div>
    </div>
    <div>
        <div class="cancelButtom" id="cancel">算了，我自己拿</div>
    </div>
</form>

</body>


<script src="../public/js/jquery-3.3.1.js"></script>
<script src="../public/js/jquery.cookie.js"></script>
</html>