<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/send.css">
</head>
<body class="hold">
    <div class="head">发布动态</div>
    <div class="mid">
        <form>
            <textarea class="textArea" placeholder="内容" id="content"></textarea>
            <!--<select>-->
                <!--<option>发布到社区</option>-->
                <!--<option>发布到学院</option>-->
            <!--</select>-->
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox">公开个人信息-->
                    <!--<input type="checkbox">已阅读《网络信息发布规则》-->
                <!--</label>-->
            <!--</div>-->
            <div type="submit" class="bottom" id="send">发布</div>
        </form>
    </div>

    <div class="logo">
        <img id="logo" src="/public/img/logo1.png">
    </div>


    <div class="foot">
    <div>
        <span class="glyphicon glyphicon-list"></span>
    </div>
    <div id="me">
        <span class="glyphicon glyphicon-user"></span>
    </div>
</div>

</body>


<script src="../public/js/jquery-3.3.1.js"></script>
<script src="../public/js/jquery.cookie.js"></script>
<script src="../public/js/send.js"></script>
</html>